body {
    background-color:rgb(70, 70, 70);
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: whitesmoke;
    visibility: hidden;
}

h1 {
    color: rgb(65, 160, 181);
    font-family: "Arima", sans-serif;
}

h2 {
    color: rgb(224, 224, 88);
    font-family: "Arima", sans-serif;
}

h3 {
    color: lightgrey;
    font-family: "Press Start 2P", sans-serif;
}

strong {
    color: rgb(224, 103, 90);
}

a {
    color: rgb(184, 177, 177);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

/* dt img {
    visibility: hidden;
} */

.navbar {
    visibility: visible;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.nav-logo {
    width: 15rem;
    height: auto;
    background-color: red;
}